<nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">🌍 TripMania</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">🏠
                        Acasă</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categorieDropdown" role="button"
                       data-bs-toggle="dropdown">
                        🧭 Categorii
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="https://www.dertour.ro/rezultatele-cautarii?ac1=2&d=63542%7C...%7C264&tt=1"
                               target="_self">
                                🌍 Ofertă Călătorii
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="#">🌴 Călătorii</a></li>
                        <li><a class="dropdown-item" href="#">🎨 Hobby-uri</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'objective-list' %}">🎯 Obiective</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bucket-list' %}">🌐 Bucket List</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'badge-list' %}">🏅 Badge-uri</a>
                </li>


            </ul>

            {% if user.is_authenticated %}
                <span class="navbar-text text-white me-3">
                    👋 Salut, {{ user.username }}!
                </span>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm me-2">Autentificare</a>
                <a href="{% url 'register' %}" class="btn btn-warning btn-sm">Înregistrare</a>
            {% endif %}
        </div>
    </div>
</nav>
