<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TripMania</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="/">Acasă</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categorieDropdown" role="button"
                       data-bs-toggle="dropdown">
                        Categorii
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Călătorii</a></li>
                        <li><a class="dropdown-item" href="#">Aventură</a></li>
                        <li><a class="dropdown-item" href="#">Hobby-uri</a></li>
                        <li><a class="dropdown-item" href="#">Obiective personale</a></li>
                    </ul>
                </li>
            </ul>
            <a class="btn btn-light" href="#">Autentificare</a>
        </div>
    </div>
</nav>