{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4">Bine ai venit pe TripMania! ✨</h1>
        <p class="lead">
            Inspirație zilnică pentru o viață trăită cu intenție. Creează și bifează obiectivele tale din lista
            dorințelor.
        </p>

        <img src="{% static 'images/tripmania_pic.jpg' %}"
             alt="TripMania"
             class="img-fluid mb-4 rounded shadow"
             style="max-width: 500px; width: 100%;">

        <br>
        <a href="{% url 'objective-add' %}" class="btn btn-danger btn-lg mt-3">Adaugă un obiectiv</a>
        <!-- badge-uri -->
        <div class="container mt-5">
            <h3 class="text-center mb-4">🏅 Badge-uri disponibile</h3>
            <div class="row justify-content-center">
                {% if badges %}
                    {% for badge in badges %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow-sm rounded-4 text-center">
                                {% if badge.image %}
                                    <img src="{{ badge.image.url }}" class="card-img-top p-4" alt="{{ badge.name }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ badge.name }}</h5>
                                    <p class="card-text">{{ badge.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">Nu există încă badge-uri.</p>
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}